.platform {
  display: block;
  
  &__scheme {
    text-align: center;
    
    &_eng img {
      max-width: 1079px;
      margin: 102px 0 0 62px;
    }
    
    &_rus img {
      max-width: 1233px;
      margin: 88px 0 63px;
    }
    
    img {
      width: 100%;
      
      @include screen('desktop') {
        margin: 60px 0;
      }
      
      @include screen('tablet-wide') {
        margin: 60px 0 40px;
      }
      
      @include screen('tablet-small') {
        margin: 30px 0;
      }
    }
  }
  
  &__content {
    margin: -34px 92px 0;
    padding-right: 15px;
    
    @include screen('desktop') {
      margin: 0 30px;
      padding-right: 0;
    }
    
    @include screen('tablet-wide') {
      margin: 0;
    }
    
    &_eng {
      
      .platform__characteristic + .platform__characteristic {
        @include screen('tablet-wide', min) {
          margin-top: 2px;
        }
      }
      
      .platform__characteristic + .platform__text {
        @include screen('tablet-wide', min) {
          margin-top: 40px;
        }
      }
    }
    
    &_rus {
      
      .platform__characteristic + .platform__characteristic {
        @include screen('tablet-wide', min) {
          margin-top: 28px;
        }
      }
      
      .platform__characteristic + .platform__text {
        @include screen('tablet-wide', min) {
          margin-top: 10px;
        }
      }
      
      .platform__text_sp-l {
        @include screen('tablet-wide', min) {
          margin-top: 21px;
          margin-left: 10px;
        }
      }
      
      .platform__text_sp-r {
        @include screen('tablet-wide', min) {
          margin-top: 25px;
        }
      }
      
      .platform__text_lv2 {
        @include screen('tablet-wide', min) {
          margin-top: 3px;
          margin-left: 211px;
        }
      }
      
      .platform__text_lv3 {
        @include screen('tablet-wide', min) {
          margin-top: 0;
          margin-left: 150px;
          margin-bottom: 7px;
        }
      }
    }
  }
  
  &__text {
    @include text-large;
    color: $color-main;
    
    &-line {
      display: block;
      
      @include screen('tablet-wide') {
        display: inline;
      }
      
      &_right {
        text-align: right;
        
        @include screen('tablet-wide') {
          text-align: left;
        }
      }
    }
    
    &-span {
      font-weight: 700;
      
      &_xlarge {
        @include textspan-4;
      }
      
      &_large {
        @include textspan-5;
      }
      
      &_big {
        @include textspan-6;
      }
    }
    
    &_sp-l {
      padding-left: 295px;
      
      @include screen('tablet-wide') {
        padding-left: 0;
      }
    }
    
    &_sp-r {
      margin-top: 14px;
      padding-right: 73px;
      
      @include screen('tablet-wide') {
        padding-right: 0;
      }
    }
    
    &_lv2 {
      margin-top: 12px;
      margin-left: 144px;
      
      @include screen('tablet-wide') {
        margin-left: 0;
      }
    }
    
    &_lv3 {
      margin-top: 28px;
      margin-left: 270px;
      
      @include screen('tablet-wide') {
        margin-left: 0;
      }
    }
    
    & + & {
      @include screen('tablet-wide') {
        margin-top: 5px;
      }
    }
    
    br {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
  
  &__number {
    @include textspan-3;
    color: $color-black;
    display: inline-block;
    
    &_sup {
      @include screen('desktop', min) {
        vertical-align: top;
        margin-top: -10px;
        margin-bottom: 8px;
      }
    }
  }
  
  &__characteristic {
    display: flex;
    margin-top: 39px;
    
    @include screen('tablet-wide') {
      margin-top: 10px;
    }
    
    .platform__text {
      flex: 1;
    }
    
    & + .platform__text {
      @include screen('tablet-wide') {
        margin-top: 10px;
      }
    }
  }
  
  &__unit {
    @include textspan-1;
    color: $color-lightgrey;
    flex-shrink: 0;
    margin-right: 15px;
    
    @include screen('tablet-small') {
      margin-right: 6px;
    }
    
    &_right {
      margin-right: -8px;
      margin-left: 8px;
      
      @include screen('tablet-small') {
        margin-right: 0;
        margin-left: 6px;
      }
    }
  }
}