.platform {
  display: block;
  
  &__scheme {
    text-align: center;
    
    img {
      width: 100%;
    }
    
    &_eng img {
      max-width: 1080px;
      margin: 102px 0 0 62px;
    }
    
    &_rus img {
      max-width: 1230px;
      margin: 88px 0 63px;
    }
  }
  
  &__content {
    margin: -34px 92px 0;
    padding-right: 15px;
    
    &_eng {
      
      .platform__characteristic + .platform__characteristic {
        margin-top: 2px;
      }
      
      .platform__characteristic + .platform__text {
        margin-top: 40px;
      }
    }
    
    &_rus {
      
      .platform__characteristic + .platform__characteristic {
        margin-top: 28px;
      }
      
      .platform__characteristic + .platform__text {
        margin-top: 10px;
      }
      
      .platform__text_sp-l {
        margin-top: 21px;
        margin-left: 10px;
      }
      
      .platform__text_sp-r {
        margin-top: 25px;
      }
      
      .platform__text_lv2 {
        margin-top: 3px;
        margin-left: 211px;
      }
      
      .platform__text_lv3 {
        margin-top: 0;
        margin-left: 150px;
        margin-bottom: 7px;
      }
    }
  }
  
  &__text {
    @include text-large;
    color: $color-main;
    
    &-line {
      display: block;
      
      &_right {
        text-align: right;
      }
    }
    
    &-span {
      font-weight: 700;
      
      &_xlarge {
        @include textspan-4;
      }
      
      &_large {
        @include textspan-5;
      }
      
      &_big {
        @include textspan-6;
      }
    }
    
    &_sp-l {
      padding-left: 295px;
    }
    
    &_sp-r {
      margin-top: 14px;
      padding-right: 73px;
    }
    
    &_lv2 {
      margin-top: 12px;
      margin-left: 144px;
    }
    
    &_lv3 {
      margin-top: 28px;
      margin-left: 270px;
    }
  }
  
  &__number {
    @include textspan-3;
    color: $color-black;
    display: inline-block;
    
    &_sup {
      vertical-align: top;
      margin-top: -10px;
      margin-bottom: 8px;
    }
  }
  
  &__characteristic {
    display: flex;
    margin-top: 39px;
    
    .platform__text {
      flex: 1;
    }
  }
  
  &__unit {
    @include textspan-1;
    color: $color-lightgrey;
    flex-shrink: 0;
    margin-right: 15px;
    
    &_right {
      margin-right: -8px;
      margin-left: 8px;
    }
  }
}