mixin platform-eng()
  +b.platform&attributes(attributes)
    +e.scheme._eng
      img(src='assets/images/scheme2eng.png' srcset='assets/images/scheme2eng@2x.png 2x')
    +e.content._eng
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span HIGH SPEED
          |  object-oriented programming IT-platform, comparable in speed to 
        +e.SPAN.text-line._right platforms i.e. Visa, Google, Facebook, Mongo DB
      +e.P.text
        +e.SPAN.text-line._right
          +e.SPAN.text-span Performance
          |  up to 
          +e.SPAN.number 10.000
          |  transactions/s.
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span Universality.
          |  Suitable for all kinds of objects
      +e.characteristic
        +e.P.unit XML
        +e.P.text
          +e.SPAN.text-line
            +e.SPAN.text-span Compatibility
            br
            |  with most modern software products and formats<br> (XML e.t.c.)
      +e.characteristic
        +e.P.text
          +e.SPAN.text-line._right
            +e.SPAN.text-span Scalability.
            br
            |  up to 1 GB of data for single object description
        +e.P.unit._right 1GB
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span The existing library
          |  already includes 
          +e.SPAN.number._sup 250.000
          |  classes of objects
      +e.P.text._sp-l
        +e.SPAN.text-line
          +e.SPAN.text-span Distributed data storage model
          |  with cloud computing data (cloud storage)
      +e.P.text._sp-r
        +e.SPAN.text-line
          +e.SPAN.text-span._xlarge SCMP
          |  Blockchain technology 
          +e.SPAN.text-span._big does not use mining,
        +e.SPAN.text-line._right which helps in saving energy and resources.
      +e.P.text._lv2
        +e.SPAN.text-line
          +e.SPAN.text-span._large Logging
          |  and archiving all the information
      +e.P.text._lv3
        +e.SPAN.text-line
          +e.SPAN.text-span._big SCMP
          |  is a complete platform for the 
          +e.SPAN.text-span._big Internet of things.

mixin platform-rus()
  +b.platform&attributes(attributes)
    +e.scheme._rus
      img(src='assets/images/scheme2rus.png' srcset='assets/images/scheme2rus@2x.png 2x')
    +e.content._rus
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span Высокоскоростная
          |  объектно-ориентированная IT-платформа,
          br
          |  сравнимая по скорости с платформами Visa, Google, Facebook, Mongo DB.
      +e.P.text
        +e.SPAN.text-line._right
          +e.SPAN.text-span Быстродействие
          |  до 
          +e.SPAN.number 10.000
          |  транзакций/с.
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span Универсальность.
          |  Подходит для любых типов объектов.
      +e.characteristic
        +e.P.unit XML
        +e.P.text
          +e.SPAN.text-line
            +e.SPAN.text-span Совместимость
            br
            |  с большинством современных программных продуктов и форматов (XML e.t.c.)
      +e.characteristic
        +e.P.text
          +e.SPAN.text-line._right
            +e.SPAN.text-span Масштабируемость
            br
            |  для описания одного объекта можно использовать до 1 гигабайта данных
        +e.P.unit._right 1GB
      +e.P.text
        +e.SPAN.text-line
          +e.SPAN.text-span Существующая библиотека
          |  уже включает            
          +e.SPAN.number 250.000
          |  классов объектов.
      +e.P.text._sp-l
        +e.SPAN.text-line
          +e.SPAN.text-span Распределенная модель
          |  сохранения данных с&nbsp;многократным копированием (облако данных).
      +e.P.text._sp-r
        +e.SPAN.text-line Блок-чейн технология 
          +e.SPAN.text-span SCMP
          |  не использует майнинг, что приводит к экономии энергии и ресурсов.
      +e.P.text._lv2
        +e.SPAN.text-line
          +e.SPAN.text-span._xlarge Логирование
          |  всей информации.
      +e.P.text._lv3
        +e.SPAN.text-line Является полной платформой для 
          +e.SPAN.text-span._xlarge интернета вещей.
