.about {
  display: block;
  
  &__scheme {
    text-align: center;
    margin-top: 83px;
    
    img {
      width: 100%;
      max-width: 1080px;
      margin-left: 40px;
    }
  }
  
  &__text {
    @include text-big;
    color: $color-black2;
    margin: 0 96px;
    margin-top: 15px;
    padding-left: 18px;
    
    & + & {
      margin-top: 31px;
    }
  }
}