mixin about()
  +b.about&attributes(attributes)
    +e.scheme
      img(src='assets/images/scheme1.svg')
    +e.P.text An open, object-oriented computing platform with a distributed integrated control system in the fog computing framework. Objects of different classes (processes, institutions, organizations, regulatory documentation, devices, etc.) are combined in&nbsp;this&nbsp;network and are coexisting within it.
    +e.P.text By backing up copies of the objects that interact with each other, the system creates patterns and makes modeling and forecasting possible.
    +e.P.text The platform is distributed on a number of small servers, which lowers the requirements for computing resources of each single server and increase security through multiple copies and distributed storage.
    +e.P.text SCMP is based on the hardware nodes with installed SCMP servers that have the blockchain function enabled, which in fact creates a material basis for the Blockchain technology.
