mixin advantages()
  +b.advantages&attributes(attributes)
    +e.list
      +e.P.item Reducing the number of design errors
      +e.P.item Accuracy of the digital model
      +e.P.item Savings on construction costs through savings<br> of the material and optimization of work
      +e.P.item Savings on utility costs
      +e.P.item Increasing the status of the project by use of advanced technologies
      +e.P.item Reducing advertising costs when using IT applications
      +e.P.item Real-time monitoring of all processes with the possibility of<br> “Looking into the Future”
      +e.P.item Life safety improvement and accident prevention
      +e.P.item Optimization of the transportation system
      +e.P.item Optimization of the smart city budget planning
      +e.P.item Cost reduction on the introduction of new technologies through artificial intelligence
      +e.P.item Project cost reduction through crowdfunding
