.footer {
  display: block;
  border-top: 2px solid $color-grey2;
  
  &__wrapper {
    padding: 31px 0 22px;
    
    @include screen('tablet-small') {
      padding: 20px 0;
    }
  }
  
  &__title {
    @include text-medium;
    color: $color-blue;
    margin-left: 27px;
    
    @include screen('tablet-wide') {
      margin-left: 0;
    }
  }
  
  &__partners {
    margin: 27px 2px 15px;
    
    @include screen('tablet-wide') {
      margin: 27px -25px;
    }
    
    @include screen('tablet-small') {
      margin: 20px -20px;
    }
  }
  
  &__partner {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 25px;
    
    @include screen('tablet-small') {
      margin: 10px 20px;
    }
    
    img {
      max-width: 100%;
    }
  }
  
  &__copyright {
    @include text-xsmall;
    color: $color-main;
    text-align: right;
    margin-right: 14px;
    
    @include screen('tablet-wide') {
      margin-right: 0;
    }
  }
}
