.app {
  display: block;
  
  &__wrapper {
    position: relative;
    min-height: 416px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 160px;
    margin-left: 74px;
    margin-right: 93px;
    
    @include screen('desktop') {
      margin: 100px 30px 0;
    }
    
    @include screen('desktop-small') {
      margin: 60px 30px 0;
    }
    
    @include screen('tablet-wide') {
      margin: 30px 0 0;
    }
    
    @include screen('tablet-small') {
      margin-top: 20px;
      min-height: 200px;
    }
    
    @include screen('phablet') {
      display: block;
      min-height: 0;
      text-align: center;
    }
  }
  
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 54.5%;
    
    @include screen('desktop-small') {
      width: 50%;
    }
    
    @include screen('phablet') {
      position: static;
      width: 250px;
    }
  }
  
  &__content {
    text-align: right;
    padding-bottom: 12px;
    max-width: 53.6%;
    
    @include screen('desktop-small') {
      max-width: 50%;
      padding-left: 24px;
      box-sizing: border-box;
    }
    
    @include screen('phablet') {
      max-width: 100%;
      text-align: left;
      padding-left: 0;
      margin-top: 30px;
    }
  }
  
  &__text {
    @include text-xlarge;
    
    &-span {
      @include textspan-2;
      display: block;
      margin-bottom: 5px;
      
      @include screen('tablet-wide') {
        margin-bottom: 0;
      }
    }
    
    & + & {
      margin-top: 38px;
      
      @include screen('tablet-wide') {
        margin-top: 14px;
      }
    }
    
    br {
      @include screen('desktop-small') {
        display: none;
      }
    }
  }
  
  &_rus {
    
    .app {
      
      &__wrapper {
        @include screen('desktop', min) {
          margin-top: 100px;
        }
      }
      
      &__content {
        @include screen('desktop', min) {
          padding-right: 20px;
          padding-bottom: 28px;
        }
      }
      
      &__text-span {
        @include screen('desktop', min) {
          margin-bottom: -8px;
        }
      }
    }
  }
}
