mixin app()
  +b.app&attributes(attributes)
    +e.wrapper
      +e.IMG(src='assets/images/phone.png').img
      +e.content
        +e.P.text
          +e.SPAN.text-span Manage
          | all the Smart City
          br
          | services with one app.
        +e.P.text From the climate in your appartment
          br
          | to financial and real estate transactions.
