.app {
  display: block;
  
  &__wrapper {
    position: relative;
    min-height: 416px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 160px;
    margin-left: 74px;
    margin-right: 93px;
    
    @include screen('desktop') {
      margin: 60px 30px 0;
      min-height: 0;
      justify-content: flex-start;
    }
    
    @include screen('tablet-wide') {
      margin: 30px 0 0;
    }
    
    @include screen('tablet-small') {
      margin-top: 20px;
    }
  }
  
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 640px;
    height: 416px;
    
    @include screen('desktop') {
      display: none;
    }
  }
  
  &__content {
    text-align: right;
    padding-bottom: 12px;
    max-width: 630px;
    
    @include screen('desktop') {
      text-align: left;
      max-width: 100%;
    }
  }
  
  &__text {
    @include text-xlarge;
    
    &-span {
      @include textspan-2;
      display: block;
      margin-bottom: 5px;
      
      @include screen('tablet-wide') {
        margin-bottom: 0;
      }
    }
    
    & + & {
      margin-top: 38px;
      
      @include screen('tablet-wide') {
        margin-top: 14px;
      }
    }
    
    br {
      @include screen('desktop') {
        display: none;
      }
    }
  }
  
  &_rus {
    
    .app {
      
      &__wrapper {
        @include screen('desktop', min) {
          margin-top: 100px;
        }
      }
      
      &__content {
        @include screen('desktop', min) {
          padding-right: 20px;
          padding-bottom: 28px;
        }
      }
      
      &__text-span {
        @include screen('desktop', min) {
          margin-bottom: -8px;
        }
      }
    }
  }
}
