mixin program-eng()
  +b.program._eng&attributes(attributes)
    +e.list._right
      +e.P.item Connects all the resources of the platform
      +e.P.item Provides project management in real time and shows a<br> modified copy of the project
      +e.P.item Artificial intelligence chooses an optimal solution for<br> the development of the project
      +e.P.item Ensures compatibility of the project with the new IT technologies
      +e.P.item Project safety assurance
      +e.P.item Performs all financial operations of the project on the basis<br> of the Blockchain technology and compatibility with all crypto-currencies
      +e.P.item Performs all real estate operations
    +e.desc
      +e.P.abbr MCP
      +e.list
        +e.P.item performs all managing functions based on the distributed<br> integrated execution environment
        +e.P.item All objects of execution - starting from the smart rooms and smart apartments to the smart city - are equipped with self-control functions
        +e.P.item Peer-to-peer network (P2P) also follows a hierarchical control system
    +e.scheme
      +e.IMG(src='assets/images/scheme3.png').scheme-img
      +e.point._l._lv1
        +e.P.point-title Financial Analytics Unit
        +e.P.point-text Banking sector, Crowdfunding,<br> secured loans in the real-estate transactions,<br> accounting,  cryptocurrencies, smart contract,<br> insurance, electronic bidding
      +e.point._l._lv2
        +e.P.point-title Control and Analytics Unit
        +e.P.point-text Electricity supply, water supply,<br> heating consumption, transportation,<br> CCTV, renewable energy resources
      +e.point._r._lv3
        +e.P.point-title Public Utility and Operations
        +e.P.point-text Smart scheduled supply and logistics,<br> automation and robotics in operations,<br> utilities, maintenance, repair,<br> utility bills collection, waste collection<br> and processing, cleaning services,<br> environmental care
      +e.point._l._lv4
        +e.P.point-title Social Unit
        +e.P.point-text Residential database, collaborative decision-<br>making on current issues,<br> elections of administrative representatives,<br> integrated customer experience,<br> electronic auctions for all types of services,<br> timeshare and mutual assistance technologies
      +e.point._r._lv5
        +e.P.point-title Safety and Emergency Unit
        +e.P.point-text Evaluation of a person's physical condition,<br> safety of the residents and their property,<br> access and presence control, fire safety
      +e.point._l._lv6
        +e.P.point-title Medical Unit
        +e.P.point-text Remote medical consultations,<br> procedures, surgical operations
      +e.point._r._lv7
        +e.P.point-title Education Unit
        +e.P.point-text Remote learning services

mixin program-rus()
  +b.program._rus&attributes(attributes)
    +e.list._right
      +e.P.item Связывает все ресурсы платформы<br> Обеспечивает управление проектами в режиме реального времени и<br> отражает изменения в копиях проекта
      +e.P.item Искуственный интеллект выбирает оптимальные решения<br> для развития проекта
      +e.P.item Обеспечивает совместимость проекта с современными<br> IT-технологиями
      +e.P.item Обеспечение безопасности проекта
      +e.P.item Обеспечивает все финансовые операции проекта на основе<br> технологии Blockchain и совместимость с любыми криптовалютами
      +e.P.item Обеспечивает все операции с недвижимостью
    +e.desc
      +e.P.abbr MCP
      +e.list
        +e.P.item Выполняет все функции управления на основании<br> распределенно-интегрированной среды исполнения
        +e.P.item Все обекты исполнения, начиная от умных комнат (smart room)<br> и умных аппартаментов (smart appartment) до умного города<br> обеспечены функциями само-управления,<br> управления как равный с равным (P2P), также подчиняются<br> иерархической системе управления
    +e.scheme
      +e.IMG(src='assets/images/scheme3.png').scheme-img
      +e.point._l._lv1
        +e.P.point-title Финансово-аналитический<br> блок
        +e.P.point-text Банковский сектор, Краудфандинг,<br> Обеспеченное кредитование,<br> Операции с недвижимостью,<br> Бухгалтерский учет, Криптовалюты,<br> Умный контракт, Страхование,<br> Электронные торги
      +e.point._l._lv2
        +e.P.point-title Блок управления и анализа
        +e.P.point-text Электроснабжение,<br> Водоснабжение, Потребление тепла,<br> Транспорт, Видеонаблюдение,<br> Возобновляемые энергоресурсы
      +e.point._r._lv3
        +e.P.point-title Блок ЖКХ и эксплуатации
        +e.P.point-text Умное плановое снабжение и логистика,<br> Автоматизация и роботизация операций,<br> Коммунальный сектор, Текущий ремонт,<br> Капитальный ремонт, Сбор коммунальных<br> платежей, Вывоз и утилизация отходов,<br> Уборка территории, Забота об окружайщей<br> среде
      +e.point._l._lv4
        +e.P.point-title Социальный блок
        +e.P.point-text База данных всех жителей,<br> Совместное принятие решений по<br> текущим вопросам,<br> Выборы руководящих органов,<br> Функция единого заказчика,<br> Электронные аукционы на все виды услуг,<br> Технологии «Time share» и взаимопомощи
      +e.point._r._lv5
        +e.P.point-title Блок безопасности и<br> черезвычайных ситуаций
        +e.P.point-text Оценка физиологического состояния человека,<br> Безопасность жителей и их имущества,<br> Контроль доступа и присутствия,<br> Пожарная безопасность
      +e.point._l._lv6
        +e.P.point-title Блок медицины
        +e.P.point-text Дистанционные медецинские<br> консультации, процедуры,<br> хирургические операции
      +e.point._r._lv7
        +e.P.point-title Блок образования
        +e.P.point-text Услуги дистанционного образования
