mixin program()
  +b.program&attributes(attributes)
    +e.list._right
      +e.P.item Connects all the resources of the platform
      +e.P.item Provides project management in real time and shows a<br> modified copy of the project
      +e.P.item Artificial intelligence chooses an optimal solution for<br> the development of the project
      +e.P.item Ensures compatibility of the project with the new IT technologies
      +e.P.item Project safety assurance
      +e.P.item Performs all financial operations of the project on the basis<br> of the Blockchain technology and compatibility with all crypto-currencies
      +e.P.item Performs all real estate operations
    +e.desc
      +e.P.abbr MCP
      +e.list
        +e.P.item performs all managing functions based on the distributed<br> integrated execution environment
        +e.P.item All objects of execution - starting from the smart rooms and smart apartments to the smart city - are equipped with self-control functions
        +e.P.item Peer-to-peer network (P2P) also follows a hierarchical control system
    +e.scheme
      +e.IMG(src='assets/images/scheme3.png').scheme-img
      +e.point._l._lv1
        +e.P.point-title Financial Analytics Unit
        +e.P.point-text Banking sector, Crowdfunding,<br> secured loans in the real-estate transactions,<br> accounting,  cryptocurrencies, smart contract,<br> insurance, electronic bidding
      +e.point._l._lv2
        +e.P.point-title Control and Analytics Unit
        +e.P.point-text Electricity supply, water supply,<br> heating consumption, transportation,<br> CCTV, renewable energy resources
      +e.point._r._lv3
        +e.P.point-title Public Utility and Operations
        +e.P.point-text Smart scheduled supply and logistics,<br> automation and robotics in operations,<br> utilities, maintenance, repair,<br> utility bills collection, waste collection<br> and processing, cleaning services,<br> environmental care
      +e.point._l._lv4
        +e.P.point-title Social Unit
        +e.P.point-text Residential database, collaborative decision-<br>making on current issues,<br> elections of administrative representatives,<br> integrated customer experience,<br> electronic auctions for all types of services,<br> timeshare and mutual assistance technologies
      +e.point._r._lv5
        +e.P.point-title Safety and Emergency Unit
        +e.P.point-text Evaluation of a person's physical condition,<br> safety of the residents and their property,<br> access and presence control, fire safety
      +e.point._l._lv6
        +e.P.point-title Medical Unit
        +e.P.point-text Remote medical consultations,<br> procedures, surgical operations
      +e.point._r._lv7
        +e.P.point-title Education Unit
        +e.P.point-text Remote learning services
