.program {
  display: block;
  padding-top: 34px;
  
  @include screen('tablet-wide') {
    padding-top: 30px;
  }
  
  @include screen('tablet-small') {
    padding-top: 20px;
  }
  
  &__list {
    &_right {
      text-align: right;
      margin-right: 443px;
      
      @include screen('desktop') {
        margin-right: 110px;
      }
      
      @include screen('tablet-wide') {
        margin-right: 0;
        text-align: left;
      }
    }
  }
  
  &__item {
    @include text;
    
    & + & {
      margin-top: 27px;
      
      @include screen('tablet-wide') {
        margin-top: 14px;
      }
      
      @include screen('tablet-small') {
        margin-top: 12px;
      }
    }
    
    br {
      @include screen('tablet-small') {
        display: none;
      }
    }
  }
  
  &__desc {
    display: flex;
    margin-top: 86px;
    margin-left: 158px;
    margin-right: 375px;
    
    @include screen('desktop') {
      margin-left: 30px;
      margin-right: 110px;
      margin-top: 60px;
    }
    
    @include screen('tablet-wide') {
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
    
    @include screen('tablet-small') {
      margin-top: 20px;
      display: block;
    }
  }
  
  &__abbr {
    font-family: $font-second;
    font-size: 58px;
    letter-spacing: .05em;
    line-height: .9;
    margin-right: 7px;
    color: $color-black2;
  }
  
  &__scheme {
    text-align: center;
    margin-top: 120px;
    position: relative;
    
    @include screen('desktop-small') {
      margin: 120px 30px 0;
    }
    
    @include screen('tablet-wide') {
      margin: 40px 0 0;
    }
    
    @include screen('tablet-small') {
      margin-top: 30px;
    } 
    
    &-img {
      width: 518px;
      height: 959px;
      margin-left: 30px;
      
      @include screen('desktop') {
        width: 450px;
        height: 833px;
        margin-left: 20px;
      }
      
      @include screen('desktop-small') {
        display: none;
      }
    }
  }
  
  &__point {
    position: absolute;
    transform: translateY(-50%);
    
    @include screen('desktop-small') {
      position: static;
      transform: none;
    }
    
    &-title {
      @include text;
      font-weight: 700;
    }
    
    &-text {
      @include text-small;
      margin-top: 5px;
      
      @include screen('desktop-small') {
        margin-top: 0;
      }
    }
    
    &_l {
      text-align: right;
      
      @include screen('desktop-small') {
        text-align: left;
      }
    }
    
    &_r {
      text-align: left;
    }
    
    &_lv1 {
      top: 86px;
      left: 0;
      right: calc(50% + 246px);
      
      @include screen('desktop') {
        top: 90px;
        right: calc(50% + 224px);
      }
    }
    
    &_lv2 {
      top: 293px;
      left: 0;
      right: calc(50% + 153px);
      
      @include screen('desktop') {
        top: 260px;
        right: calc(50% + 134px);
      }
    }
    
    &_lv3 {
      top: 285px;
      left: calc(50% + 287px);
      right: 0;
      
      @include screen('desktop') {
        top: 265px;
        left: calc(50% + 241px);
      }
    }
    
    &_lv4 {
      top: 486px;
      left: 0;
      right: calc(50% + 253px);
      
      @include screen('desktop') {
        top: 436px;
        right: calc(50% + 223px);
      }
    }
    
    &_lv5 {
      top: 497px;
      left: calc(50% + 180px);
      right: 0;
      
      @include screen('desktop') {
        top: 467px;
        left: calc(50% + 154px);
      }
    }
    
    &_lv6 {
      top: 685px;
      left: 0;
      right: calc(50% + 150px);
      
      @include screen('desktop') {
        top: 607px;
        right: calc(50% + 136px);
      }
    }
    
    &_lv7 {
      top: 870px;
      left: calc(50% + 180px);
      right: 0;
      
      @include screen('desktop') {
        top: 730px;
        left: calc(50% + 152px);
      }
    }
    
    br {
      @include screen('desktop') {
        display: none;
      }
    }
    
    & + & {
      @include screen('desktop-small') {
        margin-top: 20px;
      }
    }
  }
  
  &_rus {
    
    .program {
      
      &__desc {
        @include screen('desktop', min) {
          margin-top: 90px;
        }
      }
      
      &__scheme {
        @include screen('desktop', min) {
          margin-top: 98px;
        }
      }
      
      &__point {
        
        &-text {
          margin-top: 0;
        }
        
        &_lv1 {
          @include screen('desktop', min) {
            top: 97px;
            right: calc(50% + 257px);
          }
        }
        
        &_lv2 {
          @include screen('desktop', min) {
            top: 301px;
          }
        }
        
        &_lv3 {
          @include screen('desktop', min) {
            top: 324px;
          }
        }
        
        &_lv4 {
          @include screen('desktop', min) {
            top: 496px;
          }
        }
        
        &_lv5 {
          @include screen('desktop', min) {
            top: 551px;
          }
        }
        
        &_lv6 {
          @include screen('desktop', min) {
            top: 674px;
          }
        }
        
        &_lv7 {
          @include screen('desktop', min) {
            top: 802px;
          }
        }
      }
    }
  }
}
