.program {
  display: block;
  padding-top: 34px;
  
  @include screen('tablet-wide') {
    padding-top: 30px;
  }
  
  @include screen('tablet-small') {
    padding-top: 20px;
  }
  
  &__list {
    &_right {
      text-align: right;
      margin-right: 443px;
      
      @include screen('desktop') {
        margin-right: 110px;
      }
      
      @include screen('tablet-wide') {
        margin-right: 0;
        text-align: left;
      }
    }
  }
  
  &__item {
    @include text;
    
    & + & {
      margin-top: 27px;
      
      @include screen('tablet-wide') {
        margin-top: 14px;
      }
      
      @include screen('tablet-small') {
        margin-top: 12px;
      }
    }
    
    br {
      @include screen('tablet-small') {
        display: none;
      }
    }
  }
  
  &__desc {
    display: flex;
    margin-top: 86px;
    margin-left: 158px;
    margin-right: 375px;
    
    @include screen('desktop') {
      margin-left: 30px;
      margin-right: 110px;
      margin-top: 60px;
    }
    
    @include screen('tablet-wide') {
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
    
    @include screen('tablet-small') {
      margin-top: 20px;
      display: block;
    }
  }
  
  &__abbr {
    font-family: $font-second;
    font-size: 58px;
    letter-spacing: .05em;
    line-height: .9;
    margin-right: 7px;
    color: $color-black2;
  }
  
  &__scheme {
    text-align: center;
    margin-top: 120px;
    position: relative;
    
    @include screen('tablet-wide') {
      margin: 40px 0 0;
    }
    
    @include screen('tablet-small') {
      margin-top: 30px;
    } 
    
    &-img {
      width: 38.6%;
      margin-left: 2.4%;
    }
  }
  
  &__point {
    position: absolute;
    transform: translateY(-50%);
    
    @include screen('tablet') {
      position: static;
      transform: none;
      margin-top: 40px;
    }
    
    & + & {
      @include screen('tablet') {
        margin-top: 14px;
      }
    }
    
    &-title {
      @include text;
      font-weight: 700;
      
      @include screen('desktop') {
        font-size: 19px;
      }
      
      @include screen('desktop-small') {
        font-size: 16px;
      }
      
      @include screen('tablet-wide') {
        font-size: 12px;
      }
      
      @include screen('tablet') {
        font-size: 18px;
      }
      
      @include screen('tablet-small') {
        font-size: 16px;
      }
    }
    
    &-order {
      @include screen('tablet', min) {
        display: none;
      }
    }
    
    &-text {
      @include text-small;
      margin-top: 5px;
      
      @include screen('desktop') {
        margin-top: 0;
        font-size: 15px;
      }
      
      @include screen('desktop-small') {
        font-size: 12px;
      }
      
      @include screen('tablet-wide') {
        font-size: 9px;
      }
      
      @include screen('tablet') {
        font-size: 17px;
      }
      
      @include screen('tablet-small') {
        font-size: 16px;
      }
    }
    
    &_l {
      text-align: right;
      
      @include screen('tablet') {
        text-align: left;
      }
    }
    
    &_r {
      text-align: left;
    }
    
    &_lv1 {
      top: 8.8%;
      left: 0;
      right: 68.3%;
    }
    
    &_lv2 {
      top: 30.4%;
      left: 0;
      right: 61.4%;
    }
    
    &_lv3 {
      top: 29.6%;
      left: 71.4%;
      right: 0;
    }
    
    &_lv4 {
      top: 50.5%;
      left: 0;
      right: 68.9%;
    }
    
    &_lv5 {
      top: 51.6%;
      left: 63.4%;
      right: 0;
    }
    
    &_lv6 {
      top: 71.2%;
      left: 0;
      right: 61%;
    }
    
    &_lv7 {
      top: 90.3%;
      left: 63.3%;
      right: 0;
    }
    
    br {
      @include screen('tablet') {
        display: none;
      }
    }
  }
  
  &_rus {
    
    .program {
      
      &__desc {
        @include screen('desktop', min) {
          margin-top: 90px;
        }
      }
      
      &__scheme {
        @include screen('desktop', min) {
          margin-top: 98px;
        }
      }
      
      &__point {
        
        &-text {
          margin-top: 0;
        }
        
        &_lv1 {
          top: 10.2%;
          right: 69.2%;
        }
        
        &_lv2 {
          top: 31.4%;
        }
        
        &_lv3 {
          top: 33.8%;
        }
        
        &_lv4 {
          top: 51.8%;
        }
        
        &_lv5 {
          top: 57.5%;
        }
        
        &_lv6 {
          top: 70.1%;
        }
        
        &_lv7 {
          top: 83.4%;
        }
      }
    }
  }
}
