extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="main-eng.html") Main Eng (main-eng.html)
        +link(href="main-rus.html") Main Rus (main-rus.html)
        +link(href="about-eng.html") About Eng (about-eng.html)
        +link(href="about-rus.html") About Rus (about-rus.html)
