@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic');

@font-face {
  font-family: 'Geogrotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Geogrotesque.eot');
  src:
    url('../fonts/Geogrotesque.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geogrotesque.woff2') format('woff2'),
    url('../fonts/Geogrotesque.woff') format('woff'),
    url('../fonts/Geogrotesque.ttf') format('truetype'),
    url('../fonts/Geogrotesque.svg#webfont') format('svg');
}

@font-face {
  font-family: 'PFHandbookPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PFHandbookPro.eot');
  src:
    url('../fonts/PFHandbookPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro.woff2') format('woff2'),
    url('../fonts/PFHandbookPro.woff') format('woff'),
    url('../fonts/PFHandbookPro.ttf') format('truetype'),
    url('../fonts/PFHandbookPro.svg#webfont') format('svg');
}

