// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 156px;
  font-weight: 400;
  letter-spacing: .03em;
}

@mixin heading-2 {
  font-size: 61px;
  font-weight: 400;
  letter-spacing: .03em;
}

@mixin heading-3 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -.005em;
}

@mixin heading-4 {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.005em;
}

@mixin heading-5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

@mixin heading-6 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

@mixin text-xlarge {
  font-size: 33px;
  font-weight: 400;
  line-height: 1.25;
}

@mixin text-large {
  font-size: 29px;
  font-weight: 400;
  line-height: 1.2;
}

@mixin text-big {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.25;
}

@mixin text-medium {
  font-size: 25px;
  font-weight: 400;
}

@mixin text {
  font-size: 21px;
  font-weight: 400;
}

@mixin text-small {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
}

@mixin text-xsmall {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.01em;
}

@mixin textspan-1 {
  font-size: 120px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: .8;
}

@mixin textspan-2 {
  font-size: 71px;
  font-weight: 700;
}

@mixin textspan-3 {
  font-size: 68px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -.045em;
}

@mixin textspan-4 {
  font-size: 46px;
}

@mixin textspan-5 {
  font-size: 42px;
}

@mixin textspan-6 {
  font-size: 38px;
}
