.lead {
  display: flex;
  text-align: center;
  position: relative;
  
  &__container {
    padding: 141px 0 73px;
    min-height: 717px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include screen('desktop') {
      min-height: 670px;
    }
    
    @include screen('tablet-wide') {
      min-height: 520px;
      padding: 140px 0 40px;
    }
    
    @include screen('tablet') {
      min-height: 0;
    }
    
    @include screen('tablet-small') {
      padding: 140px 0 100px;
    }
  }
  
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    @include screen('desktop') {
      width: auto;
      min-width: 100%;
      height: 152%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  &__wrapper {
    width: 100%;
    position: relative;
    padding-right: 16px;
    min-height: 310px;
    
    @include screen('tablet-wide') {
      min-height: 270px;
      padding-right: 0;
    }
    
    @include screen('tablet-small') {
      min-height: 0;
    }
  }
  
  &__subheading {
    @include heading-2;
    color: $color-black2;
    font-family: $font-second;
  }
  
  &__heading {
    @include heading-1;
    color: $color-black2;
    font-family: $font-second;
    text-transform: uppercase;
  }
}