mixin lead()
  +b.lead&attributes(attributes)
    +e.container.container
      +e.IMG(src='assets/images/leadbg.png').bg
      +e.wrapper
        +e.P.subheading Smart City Management
        +e.H1.heading SCM Platform
