include ../blocks/about/about
include ../blocks/accordion/accordion
include ../blocks/advantages/advantages
include ../blocks/app/app
include ../blocks/bottom/bottom
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/desc/desc
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/lead/lead
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/map/map
include ../blocks/platform/platform
include ../blocks/popups/popups
include ../blocks/program/program
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../components/footer/footer
include ../components/header/header
include ../components/section/section
include ../components/ui-kit/ui-kit