extends ../../layouts/default

block head
  - var pageTitle = 'Main Eng'

block content
  +b.page.main
    +header('eng')
    +lead('eng')
    +section('A digital platform that manages the processes<br> of the material world, based on the new generation<br> information technologies, including blockchain.')._about
      +desc-eng()
    +section('Advantages of SCM Platform:')._advantages
      +e.IMG(src='assets/images/sidebg.svg').side-img._left
      +advantages-eng()
    +section('Smart City Management Platform:')._platform
      +platform-eng()
    +section('Main Control Program:')._program
      +e.IMG(src='assets/images/cube.svg').small-img._right
      +e.IMG(src='assets/images/sidebg.svg').side-img._right
      +program-eng()
    +section('One app controls everything')._app
      +app-eng()
    +bottom()
    +footer('eng')
