.section {
  display: block;
  position: relative;
  margin-top: 35px;
  
  &__heading {
    @include heading-4;
    color: $color-blue;
    margin: 0 135px;
    
    @include screen('desktop') {
      margin: 0 30px;
    }
    
    @include screen('tablet-wide') {
      margin: 0;
    }
    
    br {
      @include screen('desktop') {
        display: none;
      }
    }
  }
  
  &__side-img {
    position: absolute;
    top: -53px;
    opacity: .33;
    width: 1265px;
    height: 1285px;
    pointer-events: none;
    
    &_left {
      right: 100%;
      transform: translateX(485px);
      
      @include screen('desktop') {
        transform: translateX(200px);
      }
    }
    
    &_right {
      left: 100%;
      transform: translateX(-375px);
      
      @include screen('desktop') {
        transform: translate(-100px);
      }
    }
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__small-img {
    position: absolute;
    top: -92px;
    width: 234px;
    height: 313px;
    
    @include screen('desktop') {
      display: none;
    }
    
    &_right {
      right: 200px;
    }
  }
  
  &_desc {
    padding-bottom: 52px;
    min-height: 1250px;
    
    @include screen('desktop') {
      min-height: 0;
    }
    
    .section__heading {
      @include screen('desktop', min) {
        margin: 0 100px;
      }
      letter-spacing: -.015em;
    }
  }
  
  &_advantages {
    padding-bottom: 100px;
    min-height: 710px;
    
    @include screen('tablet-wide') {
      min-height: 0;
    }
  }
  
  &_platform {
    padding-bottom: 83px;
  }
  
  &_program {
    padding-bottom: 80px;
    
    .section__heading {
      @include screen('desktop', min) {
        margin: 0 165px;
      }
    }
  }
  
  &_app {
    padding-bottom: 14px;
    
    .section__heading {
      @include heading-3;
    }
  }
  
  @include screen('tablet-wide') {
    padding-bottom: 50px;
  }
  
  @include screen('tablet-small') {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
