mixin desc-eng()
  +b.desc&attributes(attributes)
    +e.scheme._eng
      img(src='assets/images/scheme1eng.svg')
    +e.P.text An open, object-oriented computing platform with a distributed integrated control system in the fog computing framework. Objects of different classes (processes, institutions, organizations, regulatory documentation, devices, etc.) are combined in&nbsp;this&nbsp;network and are coexisting within it.
    +e.P.text By backing up copies of the objects that interact with each other, the system creates patterns and makes modeling and forecasting possible.
    +e.P.text The platform is distributed on a number of small servers, which lowers the requirements for computing resources of each single server and increase security through multiple copies and distributed storage.
    +e.P.text SCMP is based on the hardware nodes with installed SCMP servers that have the blockchain function enabled, which in fact creates a material basis for the Blockchain technology.

mixin desc-rus()
  +b.desc&attributes(attributes)
    +e.scheme._rus
      img(src='assets/images/scheme1rus.svg')
    +e.P.text Открытая, объектно-ориентированная, программно-аппаратная платформа с распределённо-интегрированной системой управления в виде «технологического тумана». В ней объединяются и взаимодействуют объекты разных классов - процессы, учреждения, организации, нормативная документация, устройства и т. д.<br> Цифровые копии классов объектов взаимодействуют между собой, позволяя моделировать и прогнозировать процессы.
    +e.P.text Платформа распределена на множестве небольших серверов, что приводит к&nbsp;снижению требований к вычислительным ресурсам каждого сервера и&nbsp;повышению безопасности за счет многократного копирования и распределенного хранения.
    +e.P.text Имеет в своей основе аппаратные ноды с установленными серверами SCMP c&nbsp;функцией блок-чейн, то есть создается материальная основа для<br> блок-чейн технологии.
