.desc {
  display: block;
  
  &__scheme {
    text-align: center;
    
    &_eng img {
      max-width: 1080px;
      margin: 83px 0 0 40px;
    }
    
    &_rus img {
      max-width: 950px;
      margin: 94px 57px 61px 0;
    }
    
    img {
      width: 100%;
      
      @include screen('desktop') {
        margin: 40px 0;
      }
      
      @include screen('tablet-small') {
        margin: 30px 0;
      }
    }
  }
  
  &__text {
    @include text-big;
    color: $color-black2;
    margin: 0 96px;
    margin-top: 15px;
    padding-left: 18px;
    
    @include screen('desktop') {
      margin: 0 30px;
      padding-left: 0;
    }
    
    @include screen('tablet-wide') {
      margin: 0;
    }
    
    & + & {
      margin-top: 31px;
      
      @include screen('tablet-wide') {
        margin-top: 20px;
      }
      
      @include screen('tablet-small') {
        margin-top: 12px;
      }
    }
  }
}
